<!DOCTYPE html>
<html>
<head>
  <link src="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
</head>
<body>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="get_data">Get Data</button>
    </form>
  </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-striped">
                  
              <thead>

                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.surname }}</td>
                  <td>{{ user.address }}</td>
                </tr>
                {% endfor %}

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
